<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3> Student form</h3>
        <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
        <p> First name: <input type="text" th:field="*{firstName}" placeholder="First name"></p>
        <p> Last name: <input type="text" th:field="*{lastName}" placeholder="Last name"></p>
        <p> Country: <select th:field="*{country}">
        <option th:each="country: ${countries}"
                th:value="${country}"
                th:text="${country}">
        </option>
        </select></p>
        <p> Favorite programing language:
            <input type="radio" th:each="language: ${languages}"
                   th:field=*{language} th:value="${language}"
                   th:text="${language}">
        </p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>